body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FAFCFD;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
}

.column {
  width: 40%;
  padding: 2%;
  float: left;
}

h1 {
  font-size: 30px;
  margin-bottom: -8px;
}

p {
  padding: 10px 0;
}
p + p {
  border-top: 1px solid black;
}

.search-wrapper {
    width: 100%;
    float: right;
    text-align: right;
    margin-bottom: 25px;
    margin-top: 15px;
    background-color: #EFEFEF;
}

.form-info {
  font-size: 18px;
}

.instructions {
  font-size: 1.25vw;
}

#the-button {
  margin-top: 10px;
  width: 70px;
}

tiny {
  font-size: 10px;
}

#quakes {
    height: 55vh;
    overflow-y: scroll;
}

#search-updated-since {
  width: 152px;
}

#title-wrapper.text-center h1 {
  font-size: 3.6vw;
}

#search {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}